*.iml
/android/.gradle
/android/local.properties
/android/.idea
.DS_Store
/android/build
/android/captures
/android/.externalNativeBuild
.cxx
local.properties
/files/local/
/android/app/release/
/ios/ornacompanion.xcodeproj/xcuserdata/